<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<!--グリット制の基準となるコンテナを作ります-->
<!--標準では横に３文字の余白、幅576未満の際に左右余白を消すという意味です-->
<div class = "container px-5 px-sm-0">
  <!--コンテナはいくつかの行に分かれます-->
  <div class = "row">
    <!--md(>=768px)な幅の時のみ３グリッド分の幅になります-->
    <!--md未満の際は全幅（width: 100%)取ります-->
    <div class = "col-md-3">
      <h2>User info</h2>
      <table class = "table">
        <!--fallback属性で画像が無い際の代用画像を示します-->
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
        <tbody>
          <tr>
            <th>name</th>
            <th><%= current_user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= current_user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class = "row">
        <%= link_to "", edit_user_path(current_user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
      </div>
    </div>
    <!--md(>=768px)な幅の時のみ８グリッド分の幅になります-->
    <!--更に左側に１グリッド相当の間隙を置きます-->
    <div class = "col-md-8 offset-md-1">
      <h2>Books</h2>
    </div>
  </div>
</div>