<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<%= render 'layouts/container_top', user: current_user %>
  <%= render 'books/list', books: @books %>
<%= render 'layouts/container_bottom' %>