<!--グリット制の基準となるコンテナを作ります-->
<!--標準では横に３文字の余白、幅576未満の際に左右余白を消すという意味です-->
<div class = "container px-5 px-sm-0">
  <!--バリテーションエラーを表示する行です-->
  <% if @new.errors.any? %>
    <div id = "error_explanation">
      <div class = "alert alert-danger">
        <h2><%= @new.errors.count %>errors prohibited this obj from being saved:</h2>
        <ul>
          <% @new.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <!--コンテナはいくつかの行に分かれます-->
  <div class = "row">
    <!--md(>=768px)な幅の時のみ３グリッド分の幅になります-->
    <!--md未満の際は全幅（width: 100%)取ります-->
    <div class = "col-md-3">
      <%= render 'users/info', user: user %>
    </div>
    <!--md(>=768px)な幅の時のみ８グリッド分の幅になります-->
    <!--更に左側に１グリッド相当の間隙を置きます-->
    <div class = "col-md-8 offset-md-1">
